input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.RollDice {
    display: flex; 
    flex-direction: column;
    gap: 4px;
}

.RollDice input {
    width: 100px;
    height: 25px;
    box-sizing: border-box;
}

.RollDiceRow {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 8px;
}

.RollDiceField {
    display: flex;
    flex-direction: column;
}

.RollDiceField label {
    font-size: 0.8rem;
    margin-bottom: 2px;
}

.RollDiceField select {
    width: 100px;
    height: 25px;
    box-sizing: border-box;
}

.RollDice button {
    width: 15em;
    padding: 1.5em;
    border: 0px;
    border-radius: 10px;
    color: white;
    background-color: black;
    margin-top: 3em;
    align-self: left;
}

.RollDice button:hover {
    cursor: pointer;
    background-color: rgb(34, 33, 33);
}

.RollDice-rolling {
    border: 0px;
    border-radius: 10px;
    background-color: darkslateblue !important;
    opacity: 0.7
}

.statBox {
    padding: 14px;
    border-radius: 12px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
}

.statHits {
    background-color: #e30612;
}
.statLethals{
    background-color: #f58801;
}
.statDevs {
    background-color: #fecb01;
}
.statWounds {
    background-color: #4eaf32;
}
.statFailedSaves {
    background-color: #43beea;
}
.statDamage {
    background-color: #007cc6;
}
.statKilled {
    background-color: #9e579a;
}